/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
h1, p, a, h2 button {
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
a.home-link {
  color: rgb(242, 88, 34);
}
.container {
  max-width: 1146px;
  margin: 0 auto;
}
.header {
  padding: 40px 0;
  margin-bottom: 84px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation div {
  display: flex;
  align-items: center;
  gap: 37px;
  width: 577px;
}

.navigation a {
  font-size: 14px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.mainContent__leftSide {
  max-width: 556px;
}
.mainContent__leftSide h1 {
font-weight: 700;
font-size: 60px;
line-height: 120%;
margin-bottom: 32px;
}
.mainContent__leftSide p {
  color: rgb(136, 136, 136);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
  max-width: 556px;
}
.mainContent__leftSide-btnList button {
  width: 140px;
  height: 51px;
  padding: 16px 10px 16px 10px;
  border-radius: 56px;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  cursor: pointer;
  }
  .mainContent__leftSide-btnList a {
    color: rgb(170, 170, 170);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
margin: 0px 48px;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 200px;
  gap: 20px;
}
.card {

position: static;
width: 300px;
height: 250px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px 34px 40px 34px;
gap: 25px;

}
.shadow {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.10);
background: rgb(255, 255, 255);
}
.card p {
  color: rgb(102, 102, 102);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;


}
.card h2 {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.card a {
  color: rgb(0, 0, 0);
font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 350%;
letter-spacing: 0%;
text-align: left;
}
.backGraund {
  background: rgb(250, 250, 250);
  position: static;
margin-bottom: 100px;
padding: 100px;
}


.backGraund h1 {
  color: rgb(0, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;


}
.backGraund p {
  color: rgb(136, 136, 136);
  font-family: Inter;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
margin-bottom: 48px;
}
.cardList-2 {
 max-width: 1174px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}
.card2 {
  position: static;
width: 300px;
height: 542px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 34px 34px 34px;
background: rgb(255, 255, 255);
margin-bottom: 100px;
gap: 25px;
}
.card2 h2 {
  color: rgb(0, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;

}
.card2 p {
  color: rgb(102, 102, 102);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.card2 button {
  width: 140px;
  height: 51px;
  padding: 16px 10px 16px 10px;
  border-radius: 56px;
  border: none;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
  background: rgb(242, 88, 34);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  cursor: pointer;
  }


